@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
/* fuente de titulos principales "Rubik Glitch", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');
/* fuente de subtitulos "Fruktur", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/*fuente de texto "Jost", sans-serif; */

:root {
    --font-size-tittle: 60px;
    --font-size-sub-tittle: 30px;
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --blue-color: #07cdfa;
    --red-color: #f8506c;
}

body {
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: var(--secondary-color);
}

h1 {
    font-family: "Rubik Glitch", system-ui;
    font-size: var(--font-size-sub-tittle);
    color: var(--primary-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Fruktur", system-ui;
    font-size: var(--font-size-sub-tittle);
    color: var(--primary-color);
}

p{
   font-family: "Jost", sans-serif;
   font-size: 16px;
}







/* nav */

nav{
    display: flex;
}

nav .container{
    background-color: var(--secondary-color);
}

nav img{
    width: 150px;
    margin-left: 0px;
    margin-right: 280px;
}

nav.bg-sc ul li{
    font-family: "Jost", sans-serif;
    margin-right: 10px;
}

nav.bg-sc ul li a{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 400;
    position: relative;
    bottom: 2px;
    left: 15px;
    transition: .6s;
}

nav.bg-sc ul li a::after{
    width: 0;
    height: 4px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 10px;
    transition: .6s;
}

nav.bg-sc ul li a:hover{
    color: var(--blue-color);
} 

nav.bg-sc ul li a:hover::after{
    width: 60%;
    cursor: auto;
    background: var(--red-color);
}







/* hero */

#hero h1{
    font-size: 150px;
    margin-top: 100px;
    color: var(--primary-color);
}

#hero h4{
    position: relative;
    top: -30px;
}