@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
/* fuente de titulos principales "Rubik Glitch", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');
/* fuente de subtitulos "Fruktur", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/*fuente de texto "Jost", sans-serif; */

:root {
    --font-sub-tittle: "Fruktur", system-ui;
    --font-size-tittle: 60px;
    --font-size-sub-tittle: 30px;
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --blue-color: #07cdfa;
    --red-color: #f8506c;
}

body {
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: var(--secondary-color);
}

h1 {
    font-family: "Rubik Glitch", system-ui;
    font-size: var(--font-size-sub-tittle);
    color: var(--primary-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Fruktur", system-ui;
    font-size: var(--font-size-sub-tittle);
    color: var(--primary-color);
}

p{
    text-align: justify;
   font-family: "Jost", sans-serif;
   font-size: 18px;
   color: var(--primary-color);
}







/* nav */

nav{
    display: flex;
}

nav .container{
    background-color: var(--secondary-color);
}

nav img{
    width: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 280px;
}

nav.bg-sc ul li{
    font-family: "Jost", sans-serif;
    margin-right: 25px;
    margin-top: -15px;
}

nav.bg-sc ul li a{
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 400;
    position: relative;
    bottom: 2px;
    left: 15px;
    transition: .6s;
}

nav.bg-sc ul li a::after{
    width: 0;
    height: 4px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 10px;
    transition: .6s;
}

nav.bg-sc ul li a:hover{
    text-align: end;
    color: var(--blue-color);
} 

nav.bg-sc ul li a:hover::after{
    width: 60%;
    cursor: auto;
    background: var(--red-color);
}








/*about*/

#about{
    margin-top: 60px;
}

#about .about-info h2{
    font-size: 80px;
    margin-bottom: 30px;
    font-family: var(--font-sub-tittle);
}

#about .about-info p{
    text-align: center;
}

#about .about-slo h1{
    font-size: 100px;
    margin-top: 30px;
    color: var(--primary-color);
}

#about .about-slo h4{
    font-size: 20px;
    position: relative;
    top: -30px;
}






*/*servicios*/

#services{
    margin-top: 30px;
    flex-wrap: wrap;
    align-items: center;
}

#services .container h2{
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 30px;
}

#services .container h3{
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 70px;
}

#services .container .row{
    margin-bottom: 20px;
    align-items: center;
    margin-top: 20px;
}

.cont-paper{
    margin-top: 60px;
}
.cont-paper .paper h3{
    font-size: 50px;
    margin-bottom: 20px;
}


#services .pages{
    margin-top: 40px;
    text-align: justify;
}

#services .pages h2{
    font-size: 80px;
    text-align: center;
}

#services .pages p{
    margin-right: 20px;
}

#services .pages img{
    width: 100%;
}

