@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
/* fuente de titulos principales "Rubik Glitch", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');
/* fuente de subtitulos "Fruktur", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/*fuente de texto "Jost", sans-serif; */

:root {
    --font-sub-tittle: "Fruktur", system-ui;
    --font-size-tittle: 60px;
    --font-size-sub-tittle: 30px;
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --blue-color: #07cdfa;
    --red-color: #f8506c;
}

body {
    text-align: center;
    align-items: center;
    align-content: center;
    background-color: var(--secondary-color);
}

h1 {
    font-family: "Rubik Glitch", system-ui;
    font-size: var(--font-size-sub-tittle);
    color: var(--primary-color);
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Fruktur", system-ui;
    font-size: var(--font-size-sub-tittle);
    color: var(--primary-color);
}

p {
    text-align: justify;
    font-family: "Jost", sans-serif;
    font-size: 22px;
    color: var(--primary-color);
}







/* nav */

nav {
    display: flex;
}

nav .container {
    background-color: var(--secondary-color);
}

nav img {
    width: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 280px;
}

nav.bg-sc ul li {
    font-family: "Jost", sans-serif;
    margin-right: 25px;
    margin-top: -15px;
}

nav.bg-sc ul li a {
    font-size: 30px;
    color: var(--primary-color);
    font-weight: 400;
    position: relative;
    bottom: 2px;
    left: 15px;
    transition: .6s;
}

nav.bg-sc ul li a::after {
    width: 0;
    height: 4px;
    background: transparent;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 10px;
    transition: .6s;
}

nav.bg-sc ul li a:hover {
    text-align: end;
    color: var(--blue-color);
}

nav.bg-sc ul li a:hover::after {
    width: 60%;
    cursor: auto;
    background: var(--red-color);
}








/*about*/

#about {
    margin-top: 60px;
    min-height: 600px;
}

#about .about-info h2 {
    font-size: 80px;
    margin-bottom: 30px;
    font-family: var(--font-sub-tittle);
}

#about .about-info p {
    text-align: center;
}

#about .about-slo h1 {
    font-size: 100px;
    margin-top: 30px;
    color: var(--primary-color);
}

#about .about-slo h4 {
    font-size: 20px;
    position: relative;
    top: -30px;
}






*
/*servicios*/

#services {
    margin-top: 30px;
    flex-wrap: wrap;
    align-items: center;
}

#services .container h2 {
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 30px;
}

#services .container h3 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 70px;
}

#services .container .row {
    margin-bottom: 20px;
    align-items: center;
    margin-top: 20px;
}

.cont-paper {
    margin-top: 60px;
}

.cont-paper .paper h3 {
    font-size: 50px;
    margin-bottom: 20px;
}


#services .pages {
    margin-top: 40px;
    text-align: justify;
    min-height: 700px;
}

#services .pages h2 {
    font-size: 80px;
    text-align: center;
}

#services .pages p {
    margin-right: 20px;
}

#services .pages img {
    width: 100%;
}

#services .pages a {
    text-decoration: none;
    color: var(--blue-color);
}







/* Contact*/

#contact {
    margin-top: 60px;
    min-height: 500px;
}

#contact h2 {
    font-size: 80px;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

#contact .cont-con p {
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}

#contact .cont-con a {
    text-decoration: none;
    color: var(--blue-color);
}

#contact img {
    width: 350px;
}







/* footer */

footer {
    background-color: #222222;
    height: 60px;
}

footer p {
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
}





/* tablet respons */

@
/* TABLET */

@media screen and (min-width:769px) and (max-width:992px) {
    nav {
        align-items: center;
    }

    nav img {
        width: 150px;
        margin-right: 150px;
    }

    nav.bg-sc ul li {
        margin-right: 10px;
        margin-top: -10px;
    }

    nav .bg-sc ul li a {
        font-size: 18px;
    }

    nav .bg-sc ul li a::after {
        left: 5px;
    }

    nav.bg-sc ul li a:hover {
        text-align: center;
        color: var(--blue-color);
    }

    nav .bg-sc ul li a:hover::after {
        width: 30%;
        cursor: auto;
        background: var(--red-color);
    }





    /* quienes somos */

    #about .about-info p {
        text-align: justify;
    }

    #about .about-slo h1 {
        font-size: 90px;
    }

    #about .about-slo h4 {
        font-size: 18px;
    }






    /*servicios*/

    #services {
        margin-top: 20px;
    }

    #services .container h2 {
        font-size: 60px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    #services .container h3 {
        font-size: 40px;
    }

    .cont-paper {
        margin-top: 50px;
    }

    .cont-paper .paper h3 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    #services .pages h2 {
        font-size: 10px;
    }

    #services .pages p {
        margin-right: 10px;
    }







    /* Contact*/

    #contact {
        margin-top: 40px;
    }

    #contact h2 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    #contact .cont-con p {
        font-size: 10px;
        padding-top: 10px;
    }

    #contact img {
        width: 90px;
    }



    /* footer */

    footer {
        background-color: #222222;
        height: 40px;
    }

    footer p {
        padding-top: 5px;
        font-size: 20px;
    }



}






/* celular */

@media screen and (min-width:601px) and (max-width:768px) {
    nav {
        text-align: left;
    }

    nav img {
        width: 120px;
        margin-right: 0px;
    }

    nav.bg-sc ul li {
        margin-right: 50px;
        margin-top: -10px;
    }

    nav .bg-sc ul li a {
        font-size: 15px;
    }

    nav .bg-sc ul li a::after {
        left: 8px;
    }

    nav.bg-sc ul li a:hover {
        text-align: center;
        color: var(--blue-color);
    }

    nav .bg-sc ul li a:hover::after {
        width: 30%;
        cursor: auto;
        background: var(--red-color);
    }





    /* quienes somos */

    #about .about-info p {
        text-align: justify;
    }

    #about .about-slo h1 {
        font-size: 70px;
    }

    #about .about-slo h4 {
        font-size: 15px;
        margin-top: 19px;
    }






    /*servicios*/

    #services {
        margin-top: 20px;
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    #services .container h2 {
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    #services .container h3 {
        font-size: 40px;
    }

    .cont-paper {
        margin-top: 30px;
    }

    .cont-paper .paper h3 {
        font-size: 50px;
        margin-bottom: 10px;
    }

    #services .pages h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    #services .pages p {
        margin-right: 10px;
    }







    /* Contact*/

    #contact {
        margin-top: 40px;
        min-height: 300px;
    }

    #contact h2 {
        font-size: 40px;
        margin-bottom: 8px;
    }

    #contact .cont-con p {
        font-size: 15px;
        padding-top: 0px;
    }

    #contact img {
        width: 80%;
    }



    /* footer */

    footer {
        background-color: #222222;
        height: 40px;
    }

    footer p {
        padding-top: 5px;
        font-size: 20px;
    }



}







/* mini cel */

@media screen and (max-width: 600px) {
    nav {
        text-align: left;
    }

    nav img {
        width: 90px;
        margin-right: 5px;
    }

    nav.bg-sc ul li {
        margin-right: 10px;
        margin-top: -8px;
    }

    nav .bg-sc ul li a {
        font-size: 12px;
    }

    nav .bg-sc ul li a::after {
        left: 8px;
    }

    nav.bg-sc ul li a:hover {
        text-align: center;
        color: var(--blue-color);
    }

    nav .bg-sc ul li a:hover::after {
        width: 30%;
        cursor: auto;
        background: var(--red-color);
    }





    /* quienes somos */

    #about .about-info p {
        text-align: justify;
    }

    #about .about-info h2{
        font-size: 40px;
    }

    #about .about-slo h1 {
        font-size: 50px;
    }

    #about .about-slo h4 {
        font-size: 10px;
        margin-top: 22px;
    }






    /*servicios*/

    #services {
        margin-top: 20px;
        margin-bottom: 15px;
        display: flex;
        flex-wrap: wrap;
    }

    #services .container h2 {
        font-size: 40px;
        margin-top: 40px;
        margin-bottom: 0px;
    }

    #services .container h3 {
        font-size: 40px;
    }

    .cont-paper {
        margin-top: 30px;
    }

    .cont-paper .paper h3 {
        font-size: 60px;
        margin-bottom: 10px;
    }

    #services .pages h2 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    #services .pages p {
        margin-right: 10px;
    }







    /* Contact*/

    #contact {
        margin-top: 40px;
        margin-bottom: 10px;
        min-height: 300px;
    }

    #contact h2 {
        font-size: 50px;
        margin-bottom: -15px;
    }

    #contact .cont-con p {
        font-size: 15px;
        padding-top: 0px;
    }

    #contact img {
        width: 50%;
    }



    /* footer */

    footer {
        background-color: #222222;
        height: 40px;
    }

    footer p {
        padding-top: 5px;
        font-size: 20px;
    }
}